<app-astro-page  ></app-astro-page>

<div>
      <div>
          <table>
              <tr >
              <th>Name</th>
              <th>Duration</th>
              <th>Zodic ClassName</th>
              <th>Text Color</th>
            </tr>
            <tr *ngFor="let name of data">
                <td >{{name.name}} </td>
                <td>{{name.duration}}</td>
                <td> {{name.ZodicClassName}}</td>
                <td>{{name.textColor}}</td>
            </tr>
          </table>
      </div>
  </div>